.social-popup {
  background-color: var(--blue-grayish-very-dark);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6.4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.2rem;

  &__left-items {
    display: flex;
    width: 17.5rem;
    justify-content: space-between;

    & .social-popup__heading {
      text-transform: uppercase;
      letter-spacing: .5rem;
      line-height: 2rem;
    }

    & .social-popup__social-link {
      height: 2rem;
      width: 2rem;
    }
  }

  &__right-items {
    background-color: var(--blue-desaturated-dark);
    border-radius: 50%;
    height: 3.2rem;
    width: 3.2rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    // & .social-popup__share-icon img {
    //   filter: grayscale(100%) brightness(0%) saturate(100%) hue-rotate(0deg);
    // }
    & .social-popup__share-svg {}

  }
}