.article-card {
  width: 32.7rem;
  border-radius: 1rem;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0rem 4rem 4rem -1rem rgba(201, 213, 225, 0.5);

  @media (min-width: 64em) {
    width: 73rem;
    height: 28rem;
    flex-direction: row;
    overflow: visible;
    // align-items: center;
    // justify-content: end;
  }

  &__picture-frame {
    width: 100%;
    height: 20rem;
    overflow: hidden;

    @media (min-width: 64em) {
      height: 100%;
      min-width: 28.5rem;
      position: relative;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    // object-fit: cover;
    object-position: 0rem -1.7rem;

    @media (min-width: 64em) {
      // width: 28.5rem;
      // width: 66rem;
      // height: 52.8rem;
      // object-position: 2rem 3rem;
      // transform: scale(1)

      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      // width: auto;
      // height: 100%;

      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0rem 0rem;
    }
  }

  &__details {
    padding: 3.6rem 3.2rem 2rem;

    @media (min-width: 64em) {
      padding: 3.2rem 4rem;
    }
  }

  &__heading {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--blue-grayish-very-dark);
    line-height: 2.4rem;
    letter-spacing: .2px;
    margin-bottom: 1.2rem;

    @media (min-width: 64em) {
      font-size: 2rem;
      line-height: 2.8rem;
      letter-spacing: .25px;
    }
  }

  &__description {
    line-height: 2rem;
    letter-spacing: .121875px;
    margin-bottom: 3.2rem;

    @media (min-width: 64em) {
      margin-bottom: 2rem;
    }
  }

  &__published-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    // position: relative;
  }

  &__avatar-frame {
    max-width: 4rem;
    max-height: 4rem;
    margin-right: 1.6rem;
  }

  &__avatar-img {
    border-radius: 10rem;
  }

  &__author-info {
    flex-grow: 1;
  }

  &__author-name {
    font-weight: 700;
    color: var(--blue-grayish-very-dark);
    letter-spacing: .121875px;
    line-height: 2rem;
  }

  &__date {
    line-height: 2rem;
    color: var(--blue-grayish);
  }

  &__share-button {
    width: 3.2rem;
    height: 3.2rem;
    text-align: center;
    cursor: pointer;
  }

  &__share-button {
    background: var(--blue-grayish-light);
    border-radius: 2rem;
    // width: 1.5rem;
    // height: 1.3rem;
    // padding: 1rem;
  }

  &__share-active {
    color: yellow;
  }
}