.article-card {
  width: 32.7rem;
  border-radius: 1rem;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0rem 4rem 4rem -1rem rgba(201, 213, 225, 0.5);

  &__picture-frame {
    width: 100%;
    height: 20rem;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: auto;
    // object-fit: cover;
    object-position: 0rem -1.7rem;
  }

  &__details {
    padding: 3.6rem 3.2rem 2rem;
  }

  &__heading {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--blue-grayish-very-dark);
    line-height: 2.4rem;
    letter-spacing: .2px;
    margin-bottom: 1.2rem;
  }

  &__description {
    line-height: 2rem;
    letter-spacing: .121875px;
    margin-bottom: 3.2rem;
  }

  &__published-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    // position: relative;
  }

  &__avatar-frame {
    max-width: 4rem;
    max-height: 4rem;
    margin-right: 1.6rem;
  }

  &__avatar-img {
    border-radius: 10rem;
  }

  &__author-info {
    flex-grow: 1;
  }

  &__author-name {
    font-weight: 700;
    color: var(--blue-grayish-very-dark);
    letter-spacing: .121875px;
    line-height: 2rem;
  }

  &__date {
    line-height: 2rem;
    color: var(--blue-grayish);
  }

  &__share-button {
    width: 3.2rem;
    height: 3.2rem;
    text-align: center;
    cursor: pointer;
  }

  &__share-button {
    background: var(--blue-grayish-light);
    border-radius: 2rem;
    // width: 1.5rem;
    // height: 1.3rem;
    // padding: 1rem;
  }
}